#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@echo "Nenhuma compilação necessária."

override_dh_auto_install:
	mkdir -p debian/impressor-poster/usr/bin
	mkdir -p debian/impressor-poster/usr/share/impressor-poster
	mkdir -p debian/impressor-poster/usr/share/applications

	cp src/main.py debian/impressor-poster/usr/share/impressor-poster/main.py
	chmod 755 debian/impressor-poster/usr/share/impressor-poster/main.py

	cp data/impressor-poster.desktop debian/impressor-poster/usr/share/applications/

	printf '#!/bin/sh\nexec python3 /usr/share/impressor-poster/main.py "$$@"\n' > debian/impressor-poster/usr/bin/impressor-poster
	chmod 755 debian/impressor-poster/usr/bin/impressor-poster
